.movieslist {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 70px 70px 80px 70px;
}

.movieserror {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 30px 70px 80px 70px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.movieslist-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    justify-items: center;
}

.movieslist__more {
    max-width: 320px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    background: #2F2F2F;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 6px;
}

.movieslist__more:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.movieslist__button {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background: #2F2F2F;
    width: 320px;
    height: 36px;
    padding: 0;
    outline: none;
    border: none;
    transition: 0.2s linear 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .movieslist-container {
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    }

    .movieslist {
        padding: 80px 30px 80px 30px;
    }

    .movieslist__button {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {
    .movieslist-container {
        column-gap: 30px;
        row-gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .movieslist {
        padding: 50px 10px 80px 10px;
    }

    .movieslist__more {
        margin-top: 40px;
    }

}