.profile {
    max-width: 1280px;
    background-color: #202020;
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
}

.profile_type_dark{
    background-color: #000000;
}

.myprofile {
    padding-top: 74px;
    padding-bottom: 70px;
}

.myprofile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 106px;
    color: #FFFFFF;
    }

.myprofile__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    max-width: 410px;
    width: 100%;
}

.profile__error {
    display: flex;
    max-width: 410px;
    width: 100%;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin-top: 10px;
    margin-bottom: 20px;
}

    .myprofile__elements:last-child {
        border-bottom: none; 
    }

    .myprofile__element {
        font-family: 'Inter', Arial, Helvetica, sans-serif; 
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
        background-color:#202020;
        text-align: right;
        border: none;
        outline: none;
        text-decoration: none;
    }

    .myprofile__element:focus {
        outline: none;
        border-bottom: 1px solid #E8E8E8;
    }

    .myprofile__update {
        display: flex;
        justify-content: center;
        padding-top: 210px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        background-color: #202020;
        border: none;
    }

    .myprofile__update:hover {
        opacity: 0.8;
        transition: 0.2s;
    }

    .myprofile__out {
        padding-top: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FF004D;
        cursor: pointer;
    }

    .myprofile__out:hover {
        opacity: 0.8;
        transition: 0.2s;
    }

    .myprofile__link-disabled {
        color: #C4C4C4;
        pointer-events: none;
        user-select: none;
    }

    .myprofile__link-notdisabled {
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {  
        .myprofile {
            padding-top: 236px;
            padding-bottom: 269px;
        }
        .myprofile__title {
            padding-bottom: 80px;
            }
        .myprofile__update {
            padding-top: 200px;
            }    
    }

    
    @media screen and (max-width: 400px) {  
        .myprofile {
            padding-top: 70px;
            padding-bottom: 40px;
        }
        .myprofile__title {
            padding-bottom: 60px;
            }
        .myprofile__update {
            padding-top: 50px;
            font-size: 12px;
            line-height: 15px;
        }
        .myprofile__out {
            font-size: 12px;
            line-height: 15px;
        }
        .myprofile__elements {
            max-width: 290px;
            width: 100%;
        }
    }