.filter-checkbox {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

.checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0;
  color: #FFFFFF;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__filter {
  background-color: #8B8B8B;
  position: absolute;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  transition: 0.1s linear 0.1s;
}

.checkbox__label {
  margin-left: 50px;
}

.checkbox__filter:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: 0.1s linear 0.1s;
  transform: translateX(16px);
}

.checkbox__input:checked~.checkbox__filter {
  background-color: #64ffda;
}

.checkbox__input:checked~.checkbox__filter:after {
  transform: translateX(0);
}

@media screen and (max-width: 800px) {
  .filter-checkbox {
    padding: 0;
  }

  .checkbox {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .filter-checkbox {
    padding: 0;
  }

  .checkbox {
    padding-left: 0;
    font-size: 11px;
    line-height: 18px;
  }
}