.promo {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding-top: 82px;
}

.root__cover {
    background-color: #0a192f;
    position: relative;

}

.root__cover .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;

}

.promo .menu__button {
    margin-top: 40px;
    margin-bottom: 40px;
}

.promo__image {
    max-width: 320px;
}

.promo__text {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
    max-width: 730px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.promo__text_pos_center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.promo h1 {
    margin: 0px 0px 30px 4px;
    color: #64ffda;
    font-family: 'circular';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.big-heading {
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
    margin: 0px;
    font-size: 80px;
    text-align: left;
    font-family: 'circular';
}

.big-text {
    margin: 20px 0px 0px;
    max-width: 540px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #8892b0;
}

.big-text span {
    color: #64ffda;
}


.email-link {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    margin-top: 40px;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
}

.promo .menu__button {
    margin-left: 0 !important;
}


@media screen and (max-width: 1000px) {

    .promo__text_pos_center {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .promo__image {
        position: absolute;
        right: 70px;
    }
}

@media screen and (max-width: 768px) {

    .big-heading {
        font-size: 34px;
        line-height: 40px;
    }

    .promo {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .promo__text_pos_center {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .promo__image {
        max-width: 248px;
        opacity: 0.2;
    }

    .promo__text {
        font-size: 29px;
        line-height: 39px;
        max-width: 300px;
        width: 100%;
    }
}