.login {
    background-color: #202020;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.login__button {
    margin-top: 159px;
    background: #3456F3;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login__button:hover {
    opacity: 0.8;
    transition: 0.2s;
}

.login__container{
    max-width: 396px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
}

.login__logo {
    width: 38px;
    height: 38px;
    margin-right: auto;
    cursor: pointer;
}

.login__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

.login__form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    padding-bottom: 10px;
    margin-right: auto;
}

.login__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: #2F2F2F;
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    max-width: 396px;
    width: 100%;
    margin-bottom: 20px;
    height: 46px;
    text-indent: 15px;
    border:none;
    outline:none;
}

.login__input:focus {
    outline: none;
    border-bottom: 1px solid #4285F4;
}

.login__input::placeholder { 
    color: #fff;
}

.login__input_type_error {
    color: #FF3055;
}

.login__input:nth-child(6)   {
    margin-bottom: 0;
}

.login__error {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin-top: -10px;
    margin-bottom: 20px;
}

.login__last-error   {
    margin-bottom: 0;
}


.login__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #3456F3;
    border: none;
    cursor: pointer;
}

.login__conteiner {
    width: 100%;
}

.login__submit {
    padding-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}
.login__submit_type_blau {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    padding-right: 6px;
    cursor: pointer;
}

.login__submit_type_blau:hover {
    opacity: 0.8;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {  
    .login__container{
        padding-top: 232px;
        padding-bottom: 232px;
    }
    .login__input {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {  
    .login__container{
        padding-top: 56px;
        padding-bottom: 30px;
        max-width: 260px;
        width: 100%;
    }

    .login__title {
        display: flex;
        justify-content: center;
    }
    .login__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .login__title {
        padding-top: 50px;
    }
    .login__form {
        padding-top: 80px;
    }
    .login__input {
        margin-bottom: 20px;
    }
    .login__button-container {
        margin-top: 157px;
    }

    .login__submit {
        padding-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }
    .login__submit_type_blau {
        font-size: 12px;
        line-height: 15px; 
    }
    .login__button {
        margin-top: 257px;
    }
}